* {margin: 0px auto; padding: 0px;}
html, body, form {height: 98%;}
html, body, form {_height: 98%;_margin: 0px;_padding: 0px;_overflow-y: hidden;}
/*---- IE6 ----*/
html, body, form {*overflow-y: hidden;}
/*---- IE7 ----*/
body {margin: 0px auto;font-size: 12px;font-family: Arial, Helvetica, sans-serif;color: #414968;overflow: hidden;}
/*-----------top begin-----------*/
.header{ position:absolute; left:0px; top:0px; width:100%; height:80px;background-color: #1F262D;}
.headmenu {position:absolute;top:5px;left:220px;height:40px;background-color: #1F262D;}
.headmenu ul li {*background-color:#1F262D}
.headmenu ul li a{color:#939DA8;}
.headmenu ul li a:hover{color:#ffffff;background-color:#1F262D;*background-color:#1F262D;}
.headmenu a span{margin-left:5px}
.login_info {position:absolute;top:25px;left:10px;width:190px;font-size:22px;color:#ffffff;font-weight:bold;}
.login_info .logo{width:45px;height:45px}
.menusplitOne {position:absolute;height:38px;top:0px;left:220px;z-index:1;border-left:1px solid #000000;border-right:1px solid #2E363F;}
.menusplitTwo {position:absolute;height:38px;top:0px;left:315px;*left:325px;z-index:1;border-left:1px solid #000000;border-right:1px solid #2E363F;}
.menusplitThree {position:absolute;height:38px;top:0px;left:410px;*left:435px;z-index:1;border-left:1px solid #000000;border-right:1px solid #2E363F;}
.menusplitFour {position:absolute;height:38px;top:0px;left:505px;*left:530px;z-index:1;border-left:1px solid #000000;border-right:1px solid #2E363F;}
/*-----------top end-----------*/
/*-----------left begin-----------*/
.left_menu {overflow-x: hidden;overflow-y: auto;position: absolute;left: 0px;top: 80px;bottom: 0px;width: 220px;float: left;background-color:#F5F5F5;}
.left_menu div {background-color:#2E363F}
.left_menu .divider {height:0px;border-top:1px solid #1F262D;border-bottom:1px solid #333D46;}
.left_menu .nav-list li a:link, a:visited  {color: #939DA8;}
.left_menu .nav-list li a:hover {color: #ffffff;background-color:#27A9E3;}
.left_menu .nav-list li a span {position:absolute;margin-left:10px;}
.left_menu .nav-list li i {opacity: 0.5;}
.left_menu .well {border: 1px solid #2E363F;width:222px;border-top-color:#5cc3f1;}
/*-----------left end-----------*/
/*-----------main begin-----------*/
.main {position: absolute;left: 220px;top:40px;bottom: 0px;right: 0px;float: left;background-color: #ccc;padding: 0px 0px 0px 0px;}
/*-----------main end-----------*/
/*-----------bottom begin-----------*/
.footer{ position:absolute; left:0px; bottom:0px;width:100%; height:24px; background-color:#eeedec;z-index:1;}
.foot_text{ width:67px; line-height:20px; float:right;  margin-left:5px;_margin-left:5px;}
/*-----------bottom end-----------*/